<form name="searchForm" role="form">
    <div class="form-group">
      <label for="productTitle">Product title:</label>
      <input type="text" id="productTitle"
             placeholder="Title" class="form-control">
    </div>
    <div class="form-group">
      <label for="productPrice">Product price:</label>
      <input id="productPrice"
             name="productPrice"
             type="number" min="0" step="any"
             placeholder="Price" class="form-control">
    </div>
    <div class="form-group">
      <label for="prodcutCategory">Product category:</label>
      <select id="prodcutCategory" class="form-control"></select>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary btn-block">Search</button>
    </div>
</form>