<div class="thumbnail">
    <img src="http://placehold.it/320x150" alt="">
    <div class="caption">
        <h4 class="pull-right">{{product.price}}</h4>
        <h4 class="pull-right">{{product.title}}</h4>
        <p>{{product.description}}</p>
    </div>
    <div>
        <app-stars></app-stars>
    </div>
</div>