<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <app-search></app-search>
        </div>
        <div class="col-md-9">
            <div class="row carousel-header">
                <div class="col-md-12">
                    <app-carousel></app-carousel>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 col-lg-4 col-md-4" *ngFor="let prod of products">
                    <app-product-item [product]="prod"></app-product-item>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>